@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Emily's Website";
    ViewData["Header"] = "Emily Evett";
}



<img id="CandMe" src="img/IMG_4981.JPG" / height="300">
<br />
<br />
<p>
    In this class, I want to become more confident in creating web applications. I would like
    to reinforce the principles I have been caught in other web development courses to better
    understand those principles. I would also like to learn new principles.
</p>
<br />

<p>Top Careers</p>
<ul>
    <li>Data Analyst</li>
    <li>Business Analyst</li>
    <li>Consultant</li>
</ul>

